<% content_for :body do  %>
	<p>
	  <strong>Title:</strong>
	  <%= @article.title %>
	</p>
	 
	<p>
	  <strong>Text:</strong>
	  <%= @article.text %>
	</p>


	<h4>Comments</h4>
	<%= render @article.comments %>
	 
	<h4>Add a comment:</h4>
	<%= render 'comments/form' %>

	<%= link_to 'Back', articles_path, class: 'btn btn-info btn-sm', role: 'button' %>
<% end %>